---
# tasks file for PeterMosmans.customize-gnome

- name: Install (font) packages
  apt:
    name: "{{ item }}"
    update_cache: yes
    install-recommends: no
    state: present
  with_items: "{{ gnome_packages|default([]) }}"

- name: Ensure that target directory exists
  file:
    path: "/home/{{ gnome_user }}/.config/{{ gtk_version }}"
    state: directory
  when: gtk_version is defined

- name: Copy files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ gnome_user }}"
    group: "{{ gnome_user }}"
    mode: 0644
  with_items: "{{ gnome_files|default([]) }}"
  tags:
    - files

- name: Download zipped font files
  get_url:
    url: "{{ item.url }}"
    dest: "/tmp/{{ item.name }}.zip"
  with_items: "{{ gnome_fonts|default([]) }}"
  tags:
    - fonts

- name: Unzip font files
  unarchive:
    src: "/tmp/{{ item.name }}.zip"
    dest: "/tmp/"
    remote_src: yes
  with_items: "{{ gnome_fonts|default([]) }}"
  tags:
    - fonts

- name: Install fonts
  shell: mv /tmp/{{ item.fonts }} /usr/local/share/fonts/
  with_items: "{{ gnome_fonts|default([]) }}"
  tags:
    - fonts

- name: Refresh font list
  shell: fc-cache -fv
  tags:
    - fonts

- name: Download GNOME Shell extensions
  get_url:
    url: "{{ item.url }}"
    dest: "/tmp/{{ item.name }}.zip"
  with_items: "{{ gnome_extensions|default([]) }}"
  tags:
    - extensions

- name: Create GNOME extension directories
  file:
    path: /home/{{ gnome_user }}/.local/share/gnome-shell/extensions/{{ item.name }}
    state: directory
  become_user: "{{ gnome_user }}"
  with_items: "{{ gnome_extensions|default([]) }}"
  tags:
    - extensions

- name: Unzip GNOME extensions
  unarchive:
    src: "/tmp/{{ item.name }}.zip"
    dest: "/home/{{ gnome_user }}/.local/share/gnome-shell/extensions/{{ item.name }}"
    remote_src: yes
  become_user: "{{ gnome_user }}"
  with_items: "{{ gnome_extensions|default([])}}"
  tags:
    - extensions

- name: Modify application settings using gsettings
  shell: dbus-launch gsettings set {{ item.schema }} {{ item.key }} {{ item.value }}
  become_user: "{{ gnome_user }}"
  with_items: "{{ gnome_gsettings|default([]) }}"
  tags:
    - settings

- name: Modify application settings using dconf
  shell: dbus-launch dconf write {{ item.key }} {{ item.value }}
  become_user: "{{ gnome_user }}"
  with_items: "{{ gnome_dconf|default([]) }}"
  tags:
    - settings
    - dconf

